<div class="event-dialog">
  <h2>{{ calendarEvent.title }}</h2>
  <p *ngIf="calendarEvent.details!=null"><strong>Detalii:<br></strong> {{ calendarEvent.details }}</p>
  <p *ngIf="calendarEvent.counselorContact!=null"><strong>Contact consilier:<br></strong> {{ calendarEvent.counselorContact }}</p>
  <p *ngIf="calendarEvent.linkMeeting!=null"><strong>Link întâlnire:<br></strong> <a href="{{calendarEvent.linkMeeting}}">{{ calendarEvent.linkMeeting }}</a></p>
  <p><strong>Data de început:</strong> {{ calendarEvent.start | date: 'dd/MM/yyyy, HH:mm' }}</p>
  <p><strong>Data de sfârșit:</strong> {{ calendarEvent.end | date: 'dd/MM/yyyy, HH:mm' }}</p>

  <div style=" max-height: 200px; overflow-y: auto;">
    <p><strong>Participanți:</strong></p>
    <ul *ngIf="calendarEvent.participantsOption === 'emails'">
      <li *ngFor="let email of calendarEvent.participantEmails">{{ email }}</li>
    </ul>
    <div *ngIf="calendarEvent.participantsOption === 'groups'">
      Grupul <i>{{calendarEvent.selectedGroup}}</i>
    </div>
    <div *ngIf="calendarEvent.participantsOption === 'everyone'">
      Eveniment deschis tuturor
    </div>
  </div>
  <div *ngIf="calendarEvent.isOwner" class="button-container">
    <button mat-raised-button (click)="deleteEvent()">Șterge evenimentul</button>
  </div>
</div>
