<div class="main-div">
  <mat-card>
    <div class="column">
      <mat-card-title>Introduceți noua parolă</mat-card-title>
      <div class="row">
        <mat-card-content>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field>
                  <mat-label for="newPassword">Parolă</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" #password >
                  <mat-icon matSuffix (click)="togglePasswordVisibility(password)" >
                    {{hidePassword?'visibility_off':'visibility'}}
                  </mat-icon>
                  <mat-error *ngIf="resetPasswordForm.get('newPassword').errors?.required">
                    Parola e obligatorie!
                  </mat-error>
                  <mat-error *ngIf="resetPasswordForm.get('newPassword').errors?.pattern">
                    Parola trebuie să aibă cel puțin 10 caractere, o literă mare, o literă mică, un număr și un simbol.
                  </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid" >Resetează parola</button>
          </form>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
