mat-card{
  justify-content: center;
  align-items: center;
  min-width: 370px;
  max-width: 1200px;
}

#article-title-label{
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
}
#article-summary-label, #article-content-label{
  margin-top: 20px;
}
#article-title, #article-summary{
  border: none;
  font-size: 17px;
  background-color: #F1EFF1;
  border-radius: 10px;
}

#article-title:focus, #article-summary:focus {
  outline: none;
}

.col-md textarea {
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 5px;
  background-color: darkgray;
  border-radius: 10px;
}

.submit-button[disabled], .preview-button[disabled] {
  background-color: lightgray;
  color: #999;
  border: 1px solid #ccc;
  cursor: not-allowed;
}

