mat-card{
  justify-content: center;
  align-items: center;
  min-width: 370px;
}

#article-title-label{
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
}
#article-content-label{
  margin-top: 5px;
}
#article-title{
  border: none;
  font-weight: bold;
  font-size: 17px;
  background-color: #F1EFF1;
  border-radius: 10px;
}

#article-title:focus {
  outline: none;
}

.col-md input {
  width: 100%;
}
