<mat-card style="background-color:white">
  <mat-card-header>
    <mat-card-title >Article Editor</mat-card-title>
  </mat-card-header>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row" id="article-title-label">
      <div class="col-md">
          Article Title:
            <input matInput formControlName="title"  id="article-title"/>
      </div>
    </div>
    <div class="row" id="article-content-label">
      <div class="col-md">
        Article Content:
      </div>
    </div>
    <div class="row" id="article-content">
      <div class="col-md-12">
        <quill-editor [styles]="{height: '400px'}" (onEditorChanged)="changedEditor($event)"></quill-editor>
      </div>
    </div>
  </div>
  <mat-card-actions align="end">
    <button mat-flat-button color="primary" style="margin-right: 5px" type="submit">Create</button>
    <button mat-flat-button color="accent"  type="button" (click)="onPreviewClicked()">Preview</button>
  </mat-card-actions>
  </form>
</mat-card>
