.mat-card{
  max-width: 500px;
}
.email-list {
  max-height: 200px;
  overflow-y: auto;
}

.selected-emails {
  margin-top: 20px;
  max-height: 150px;
  overflow-y: auto;
}

.selected-email {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-top: 20px;
}

.email-item:hover {
  background-color: #707070;
}

.submit-button{
  margin-right: 5px;
  margin-top: 10px;
}
