.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card{
  margin-top: 25px;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  min-width: 370px;
}

mat-form-field{
  margin-bottom:10px;
  min-width: 350px;
}

mat-card-title {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: lightgray;
}

form{
  text-align: center;
}

button{
  margin-bottom: 2%;
}

.fa-user-plus {
  color: lightgray;
}


