.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container {
  margin-top: 30px;
  width: 70%;
  max-width: 700px;
  height: auto;
}

#create-event-button{
  position: fixed;
  bottom: 6em;
  right: 1.5em;
}

