<mat-toolbar>
  <span style="color:white">CC</span>
  <div *ngIf="!checkTokenValidity()" class="menu-position">
    <button mat-button [matMenuTriggerFor]="afterMenu"><span style="color:white">
      <img src="{{profilePhoto}}" alt="UserProfilePhoto" class="rounded-circle" width="30">
      Hello, {{getUserName()}}!</span></button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item (click)="goToSupportGroups()">Grupuri de suport</button>
      <button mat-menu-item (click)="goToFeed()">Articole</button>
      <button mat-menu-item (click)="goToCalendar()">Calendar</button>
      <button mat-menu-item (click)="goToProfile()">Profil</button>
      <button mat-menu-item *ngIf="getRole()" (click)="logout()">Deconectare</button>
    </mat-menu>
  </div>
  <div *ngIf="checkTokenValidity()" class="menu-position">
    <button *ngIf="getLoginPage()" mat-raised-button (click)="goToRegisterAccount()">Register your account</button>
    <button *ngIf="!getLoginPage()" mat-raised-button (click)="goToLogin()">Login</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
