mat-card{
  max-height: 670px;
  overflow-y: auto;
  max-width: 900px;
}

.selected-emails {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
}

.email-list {
  max-height: 180px;
  overflow-y: auto;
}

.selected-email {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-top: 10px;
}

.email-item:hover {
  background-color: #707070;
}

mat-form-field{
  width: 100%;
}



